<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>المنقح</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container"> <!-- Add a container for styling -->
        <h1>المنقح</h1>
        <textarea id="text-input" rows="5" cols="40" placeholder="Enter text here..."></textarea>
        <br>
        <button onclick="checkGrammar()">نقح</button>
        <p id="result"></p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
